body
{
    margin: 0;
}
header
{
    padding: 20px 40px 0px 40px;
    background-color: #1F2326;
    height: 80px;
    width: 100%;
}
#header_logo
{
    width: 20%;
    float: left;
}
#header_searchbar
{
    float: left;
    width: 50%;
    padding: 15px 40px 0px 40px;
}
#header_searchbar_input
{
    border: 1px solid #1F2326;
    border-radius: 20px;
    width: 60%;
    height: 30px;

}
#header_login
{
    width: 20%;
    color: white;
    float: left;
    text-align: right;
    margin: auto 0px;
    font-size: 17px;
}
#header_login > p > a
{
    height: 30px;
    margin: auto 0px;
}

