body {
	margin: 0;
	background-color: #1F2326;
}

header {
	padding: 20px 40px 0px 40px;
	height: 80px;
	width: 95.80%;
}

#header_logo {
	width: 20%;
	float: left;
}

#header_searchbar {
	float: left;
	width: 50%;
	padding: 15px 40px 0px 40px;
}

#header_searchbar_input {
	border-radius: 20px;
	width: 60%;
	height: 30px;
}

#header_login {
	width: 20%;
	color: white;
	float: left;
	text-align: right;
	margin: auto 0px;
	font-size: 17px;
}

#header_login > p > a {
	height: 30px;
	margin: auto 0px;
	text-decoration: none;
	color: white;
}

#nav_bar {
	width: 20%;
	text-transform: uppercase;
	float: left;
}

#nav_bar > ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
}

#nav_bar > ul > li {
	padding: 20px;
	font-size: 18px;
}

#nav_bar > ul > li > a {
	text-decoration: none;
	color: white;
}

#main_sliderbox {
	width: 79%;
	float: left;
	color: white;
	border-left: 1px solid white;
}

#main_sliderbox_slider {
	width: 80%;
	height: 420px;
	margin: auto;
	background-color: aqua;
	border-radius: 30px;
}

#main_sliderbox_slider_game {
	float: left;
	width: 75%;
	height: 170px;
	background-color: crimson;
	background-image: url(images/elden_ring.jpg);
	background-size: 100% 100%;
	padding-top: 250px;
	border-radius: 30px 0 0 30px;
}

#main_sliderbox_slider_game_box > h1 {
	margin-bottom: 0px;
	font-weight: 500;
}

#main_sliderbox_slider_game_box > p {
	margin-top: 0px;
}

#main_sliderbox_slider_game_box > input {
	padding: 5px 30px;
	background-color: white;
	border: 1px solid white;
	border-radius: 20px;
	font-size: 20px;
	float: right;
	margin-right: 10px;
}

#main_sliderbox_slider_game_box {
	background-color: rgba(255, 255, 255, 0.4);
	float: right;
	width: 60%;
	height: 150px;
	margin-right: 20px;
	color: white;
	text-align: left;
	padding-left: 10px;
	border-radius: 30px;
}

#main_sliderbox_slider_else {
	float: left;
	width: 25%;
	height: 420px;
	background-color: chartreuse;
	border-radius: 0 30px 30px 0;
}

.main_sliderbox_slider_else_box {
	float: left;
	width: 100%;
	height: 105px;
	background-color: #363E44;
}

.main_sliderbox_slider_else_box:first-child {
	border-radius: 0 30px 0 0;
}

.main_sliderbox_slider_else_box:last-child {
	border-radius: 0 0 30px 0;
}

.main_sliderbox_slider_else_box:hover {
	background-color: #8d8d8d;
}

.main_sliderbox_slider_else_box_text {
	float: left;
	margin-left: 10px;
	font-weight: 100;
}

.main_sliderbox_slider_else_box_text > h2 {
	font-weight: 100;
}

#main_offers {
	width: 79.94%;
	height: 1000px;
	float: left;
	border-left: 1px solid white;
}

#main_offers_container {
	width: 100%;
	height: 350px;
	margin: 0px auto;
	color: white;
	float: left;
	overflow: hidden;
}

#main_offers_arrows {
	position: relative;
	width: 60%;
	height: 350px;
	margin: 0 auto;
}

#main_offers_arrows > button {
	position: absolute;
	width: 10%;
	background: none;
	border: none;
	margin-top: 100px;
	z-index: 10;
}

#nextBtn {
	right: -10%;
}

#prevBtn {
	left: -10%;
}

#main_offers_container > img {
	float: left;
	margin: 120px 0px;
}

#main_offers > h1 {
	font-weight: 400;
	font-size: 32px;
	margin-bottom: 5px;
	color: white;
	width: 80%;
	margin: auto;
}

#main_offers > p {
	font-size: 14px;
	color: white;
	width: 80%;
	margin: auto;
	margin-bottom: 40px;
}

.main_offers_container_box {
	height: 200px;
	background-color: aqua;
	float: left;
	margin: 10px 40px;
	border-radius: 30px;
	text-align: center;
}

#main_offers_container_slider {
	height: 400px;
	display: flex;
	width: 100%;
	margin: 0px auto;
}

.main_offers_container_box > p {
	margin-top: 2px;
}

.main_offers_container_box > h3 {
	margin-bottom: 2px;
}

.main_offers_container_box2 {
	width: 22.5%;
	height: 400px;
	background-color: aqua;
	float: left;
	margin: 20px;
}

.main_offers_container_box2 > p {
	position: absolute;
	font-size: 32px;
	font-weight: bold;
	border: 4px solid white;
	color: white;
	margin: 200px 40px;
	padding: 10px 20px;
}

#main_offers_container2 :nth-child(3) {
	margin-left: 0;
}

#main_offers_container2 :last-child {
	margin-right: 0;
}

#main_offers_container2 {
	width: 80%;
	height: 600px;
	margin: 20px auto;
	color: white;
}

#main_offers_container2 > h1 {
	font-weight: 400;
	margin-bottom: 2px;
}

#main_offers_container2 > p {
	font-weight: 400;
	margin-top: 2px;
}

#main_about {
	width: 80%;
	height: 600px;
	float: left;
	text-align: center;
}

#main_about_header {
	width: 50%;
	margin: auto;
	height: 60px;
	border-bottom: 5px solid #59695F;
}

#main_about_header > h1 {
	text-transform: uppercase;
	color: white;
	font-size: 48px;
}

#main_about_container {
	margin: 0 auto;
	width: 90%;
	height: 500px;
}

#main_about_container :first-child {
	margin-left: 0;
}

#main_about_container :last-child {
	margin-right: 0;
}

.main_about_container_box {
	width: 20%;
	height: 400px;
	float: left;
	margin: 20px 45px;
	padding: 40px 0px;
	color: white;
}

#footer {
	width: 100%;
	height: 60px;
	text-align: center;
	padding: 5px 0px;
	background-color: #31383D;
	color: white;
}