body {
	margin: 0;
}

header {
	padding: 20px 40px 0px 40px;
	background-color: #1F2326;
	height: 80px;
	width: 95.80%;
}

#header_logo {
	width: 20%;
	float: left;
}

#header_searchbar {
	float: left;
	width: 50%;
	padding: 15px 40px 0px 40px;
}

#header_searchbar_input {
	border: 1px solid #1F2326;
	border-radius: 20px;
	width: 60%;
	height: 30px;
}

#header_login {
	width: 20%;
	color: white;
	float: left;
	text-align: right;
	margin: auto 0px;
	font-size: 17px;
}

#header_login > p > a {
	height: 30px;
	margin: auto 0px;
	text-decoration: none;
	color: white;
}

#nav_bar {
	width: 20%;
	height: 1080px;
	background-color: #1F2326;
	text-transform: uppercase;
	border-right: 1px solid white;
	float: left;
}

#nav_bar > ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
}

#nav_bar > ul > li {
	padding: 20px;
	font-size: 18px;
}

#nav_bar > ul > li > a {
	text-decoration: none;
	color: white;
}

#topic_label {
	font-family: monospace;
	font-size: 16px;
}

#main_sliderbox {
	width: 79.94%;
	height: 1080px;
	background-color: #1F2326;
	float: left;
	color: white;
}

#transaction_failed {
	width: 100%;
}

#transaction_failed_text {
	float: left;
	margin-left: 13%;
	margin-top: 150px;
	font-family: monospace;
}

#transaction_failed_picture {
	float: left;
	margin-top: 60px;
	margin-left: 130px;
}

h1 {
	font-size: 55px;
	margin: 0;
	font-weight: 500;
}

h2 {
	margin: 0;
	font-size: 18px;
	font-weight: 300;
}

.favicon {
	margin-left: 2px;
	float: left;
	height: 25px;
	width: 26px;
}