@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');



a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


.navigator {
    width: 20%;
    height: 100vh;
    position: fixed;
    grid-area: navigator;
    border-right: 1px solid #fff;
    z-index: 5;
}

.main {
    float: left;
    height: auto;
    /* tylko i wyłącznie do pokazania jak działa skrolowanie  */
    grid-area: main;
}

.navigator-toggle {
    display: none;
}

/* RESPONSYWNOSC */
@media screen and (max-width: 1475px) {
    .container {
        grid-template-columns: 0 !important;
}
}

@media screen and (max-width: 1335px) {
    .main_sliderbox_slider_else_box_text {
        float: left;
        margin-left: 10px;
        font-weight: 100;
        font-size: 15px;
    }
    
    .main_sliderbox_slider_else_box_text>h2 {
        font-weight: 100;
    }
    
    .main_sliderbox_slider_else_box_text>h3 {
        margin-top: -20px;
        font-weight: 100;
        font-size: 10px;
        margin-left: 1px;
    }
    .main_sliderbox_slider_else_box {
        float: left;
        width: 100%;
        height: 125px;
        background-color: #363E44;
    }
}

@media screen and (max-width: 1320px) {
    .main_sliderbox_slider_else_box_text {
        float: left;
        margin-left: 10px;
        font-weight: 100;
        font-size: 13px;
    }

    hr{
        display: none;
    }
    
    .main_sliderbox_slider_else_box_text>h2 {
        font-weight: 100;
    }
    
    .main_sliderbox_slider_else_box_text>h3 {
        margin-top: -17px;
        font-weight: 100;
        font-size: 8px;
        margin-left: 1px;
    }
    .main_sliderbox_slider_else_box {
        float: left;
        width: 100%;
        height: 125px;
        background-color: #363E44;
    }
}

@media screen and (max-width: 1180px) {
    .main_sliderbox_slider_else_box_text {
        float: left;
        margin-left: 10px;
        font-weight: 100;
        font-size: 11px !important;
    }

    hr{
        display: none;
    }
    
    .main_sliderbox_slider_else_box_text>h2 {
        font-weight: 100;
    }
    
    .main_sliderbox_slider_else_box_text>h3 {
        margin-top: -13px !important;
        font-weight: 100;
        font-size: 7px !important;
        margin-left: 1px;
    }
    .main_sliderbox_slider_else_box {
        float: left;
        width: 100%;
        height: 125px;
        background-color: #363E44;
    }
}

@media screen and (max-width: 1080px) {
    .main_sliderbox_slider_else_box_text
    {
        display: none;
    }
    .main_sliderbox_slider_else_box{
        display: none;
    }
    #main_sliderbox_slider_game{
        width: 100% !important;
    }

    #main_sliderbox_slider_game_box
    {
        width: 99% !important;
    }
}

@media screen and (max-width: 1566px) {
    .main_sliderbox_slider_else_box_text {
        float: left;
        margin-left: 10px;
        font-weight: 100;
        font-size: 13px;
    }

    hr{
        display: none;
    }

    .main_sliderbox_slider_else_box_text>h2 {
        font-weight: 100;
    }
    
    .main_sliderbox_slider_else_box_text>h3 {
        margin-top: -13px !important;
        font-weight: 100;
        font-size: 9px;
        margin-left: 1px;
    }
    .main_sliderbox_slider_else_box {
        float: left;
        width: 100%;
        height: 125px;
        background-color: #363E44;
    }
}

@media screen and (max-width: 1662px) {
    .main_sliderbox_slider_else_box_text {
        float: left;
        margin-left: 10px;
        font-weight: 100;
        font-size: 13px;
    }

    hr{
        display: none;
    }

    .main_sliderbox_slider_else_box_text>h2 {
        font-weight: 100;
    }
    
    .main_sliderbox_slider_else_box_text>h3 {
        margin-top: -13px !important;
        font-weight: 100;
        font-size: 9px;
        margin-left: 1px;
    }
    .main_sliderbox_slider_else_box {
        float: left;
        width: 100%;
        height: 125px;
        background-color: #363E44;
    }
}

/* END */ 

/*SLIDER _____________________________________________________________________________________*/

#main_sliderbox {
    width: 79.94%;
    height: 500px;
    float: left;
    color: white;
    border-left: 1px solid white;
}

#main_sliderbox_slider {
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 1%;
    background-color: aqua;
    border-radius: 30px;
}

#main_sliderbox_slider_game {
    float: left;
    width: 75%;
    height: 250px;
    object-fit: cover;
    background-color: crimson;
    background-image: url(../images/edBK.jpg);
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 250px;
    border-radius: 30px 0 0 30px;
}

#main_sliderbox_slider_game_box>h1 {
    padding-top: 3%;
    margin-bottom: 0px;
    font-weight: 500;
}

#main_sliderbox_slider_game_box>p {
    margin-top: 0px;
}

#main_sliderbox_slider_game_box>input {
    font-size: 20px;
    float: right;
    margin-right: 10px;
}

#main_sliderbox_slider_game_box {
    background-color: rgba(255, 255, 255, 0.4);
    float: auto;
    width: 100%;
    height: 160px;
    bottom: 0;
    color: white;
    text-align: left;
    padding-left: 10px;
    border-radius: 0, 30, 0, 0px;
}

#main_sliderbox_slider_else {
    float: left;
    width: 25%;
    height: 500px;
    background-color: #1F2326;
    border-radius: 0 30px 30px 0;
}

.main_sliderbox_slider_else_box {
    float: left;
    width: 100%;
    height: 125px;
    background-color: #363E44;
}

.main_sliderbox_slider_else_box:first-child {
    border-radius: 0 30px 0 0;
}

.main_sliderbox_slider_else_box:last-child {
    border-radius: 0 0 30px 0;
}

.main_sliderbox_slider_else_box:hover {
    background-color: #8d8d8d;
    cursor: pointer;
}

.main_sliderbox_slider_else_box_text {
    float: left;
    margin-left: 10px;
    font-weight: 100;
}

.main_sliderbox_slider_else_box_text>h2 {
    font-weight: 100;
}

.main_sliderbox_slider_else_box_text>h3 {
    margin-top: -20px;
    font-weight: 100;
    font-size: 15px;
    margin-left: 1px;
}

#main_offers {
    position: static;
    width: 93%;
    float: left;
    margin-left: 2%;
}

#main_offers_container {
    position: absolute;
    width: 100%;
    height: 350px;

    color: white;
    float: left;
    overflow: hidden;
}

#main_offers_arrows {
    position: relative;
    width: 80%;
    height: 350px;
    margin: 0 auto;
}

#main_offers_arrows>button {
    position: absolute;
    width: 8%;
    background: none;
    border: none;
    margin-top: 100px;
    z-index: 10;
    cursor: pointer;
}

#nextBtn {
    right: -10%;
}

#prevBtn {
    left: -10%;
}

#main_offers_container>img {
    float: left;
    margin: 120px 0px;
}

#main_offers>h1 {
    padding-top: 2%;
    padding-left: 5%;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 5px;
    color: white;
    width: 100%;
    margin: auto;
}

#main_offers>p {
    padding-left: 5%;
    font-size: 14px;
    color: white;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.main_offers_container_box {
    height: 200px;
    background-color: aqua;
    float: left;
    margin: 10px 40px;
    border-radius: 30px;
    text-align: center;
    background-size: 100% 100%;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#main_offers_container_slider {
    height: 400px;
    display: flex;
    width: 100%;
}

.main_offers_container_box>p {
    margin-top: 2px;
}

.main_offers_container_box>h3 {
    margin-bottom: 2px;
}

.main_offers_container_box2 {
    width: 20%;
    height: 400px;
    float: left;
    margin: 30px;
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.main_offers_container_box2>p {
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    border: 4px solid white;
    color: white;
    margin: 200px 40px;
    padding: 10px 20px;
}

#main_offers_container2 :nth-child(3) {
    margin-left: 0;
}

#main_offers_container2 :last-child {
    margin-right: 0;
}

#relative{
    position: relative;
    
}

#main_offers_container2 {
    display: inline-block;
    justify-content: center;
    width: 95%;
    height: 600px;
    top: 500px;
    margin-left: 5%;
    color: white;
}

#main_offers_container2>h1 {
    font-weight: 400;
    margin-bottom: 2px;
}

#main_offers_container2>p {
    font-weight: 400;
    margin-top: 2px;
}

#main_about {
    width: 60%;
    height: 600px;
    float: left;
}

#main_about_header {
    width: 50%;
    margin-left: 29%;
    height: 60px;
}

#main_about_header>h1 {
    text-transform: uppercase;
    color: white;
    font-size: 35px;
}

#main_about_container {
    margin: 0 auto;
    width: 100%;
    height: 200px;
}

#main_about_container :first-child {
    margin-left: 0;
}

#main_about_container :last-child {
    margin-right: 0;
}

.main_about_container_box {
    width: 20%;
    height: 250px;
    float: left;
    margin: 15px 25px;
    padding: 20px 0px;
    color: white;
}

#coWyroznia {
    margin-left: 10%;
}



/* BUTTON STYLE */
/* === removing default button style ===*/
.button {
    margin: 0;
    background: transparent;
    padding: 0;
    border: none;
    
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(255, 255, 255, 0.6);
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    -webkit-filter: drop-shadow(0 0 23px var(--animation-color));
    filter: drop-shadow(0 0 23px var(--animation-color))
}