@import url('https://rsms.me/inter/inter.css');

html {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

body {
	margin: 0;
}

header {
	padding: 20px 40px 0px 40px;
	background-color: #1F2326;
	height: 80px;
	width: 95.80%;
}



#header_searchbar {
	float: left;
	width: 50%;
	padding: 15px 40px 0px 40px;
}

#header_searchbar_input {
	border: 1px solid #1F2326;
	border-radius: 20px;
	width: 60%;
	height: 30px;
}

#header_login {
	width: 20%;
	color: white;
	float: left;
	text-align: right;
	margin: auto 0px;
	font-size: 17px;
}

#header_login > p > a {
	height: 30px;
	margin: auto 0px;
	text-decoration: none;
	color: white;
}

#topic_label {
	margin-left: 55px;
	font-size: 44px;
}

#main_sliderbox {
	width: 85%;
	background-color: #1F2326;
	float: left;
	color: white;
}

#main_sliderbox_slider {
	margin-left: 25%;
	margin-top: 8%;
	width: 60%;
	height: 520px;
	background-color: #1F2326;
}

#login_with_google {
	position: absolute;
	margin-left: 40px;
	margin-top: 30px;
	border-radius: 25px;
	width: 240px;
	height: 40px;
	background-color: white;
	font-size: 17px;
	color: black;
}

#login_with_google_text {
	position: absolute;
	margin-top: 9px;
	margin-left: 45px;
}

#google_img {
	margin-top: 3px;
	margin-left: 7px;
	height: 35px;
	width: 35px;
}

#login_with_facebook_text {
	position: absolute;
	margin-top: 9px;
	margin-left: 47px;
}

#facebook_img {
	margin-top: 0px;
	margin-left: 7px;
	height: 40px;
	width: 40px;
}

#login_with_facebook {
	margin-top: 30px;
	margin-left: 325px;
	padding-right: 2px;
	border-radius: 25px;
	width: 240px;
	height: 40px;
	background-color: white;
	font-size: 17px;
	color: black;
}

.favicon {
	margin-left: 2px;
	float: left;
	height: 25px;
	width: 26px;
}

.form_el {
	background-color: #1F2326;
	border-right: 0px;
	border-bottom: 1px solid;
	border-top: 0px;
	border-bottom-color: #D6DBDF;
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 70px;
	width: 460px;
	align-items: center;
	font-size: 16px;
}

#login {
	font-size: 15px;
	margin-top: 10px;
	margin-left: 143px;
}

::placeholder {
	color: #ABB2B9;
}

#main_accounts {
	text-align: center;
	padding: 5px 40px 0px 40px;
}

#main_button > a {
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 18px;
}

#button {
	margin-top: 50px;
	margin-left: 75px;
	padding-top: 18px;
	width: 460px;
	height: 40px;
	background-color: #667DB9;
	border-radius: 20px;
	text-decoration: none;
}

#account {
	font-size: 15px;
	margin-top: 10px;
	margin-left: 50px;
	color: grey;
	float: left;
}

#registration {
	text-decoration: none;
	color: #4267B2;
}

#fPassword {
	font-size: 12px;
	float: left;
	margin-left: 100px;
}

#fPassword > a {
	text-decoration-color: none;
	color: rgba(255, 255, 255, 0.692);
}

#main_sliderbox_slider > a {
	text-decoration-color: none;
	color: white;
}

.toggle {
	background: none;
	border: none;
	color: white;
}

.toggle:hover {
	cursor: pointer;
}

#lub {
	margin-left: 285px;
	font-size: 16px;
}

#togglePassword {
	width: 30px;
}

.red {
	background-color: #1F2326;
	border-right: 0px;
	border-bottom: 1px solid;
	border-top: 0px;
	border-bottom-color: red;
	color: white;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 70px;
	width: 460px;
	align-items: center;
	font-size: 16px;
}

#demo {
	color: red;
	margin-left: 75px;
}

.demo {
	display: none;
}

#captcha {
	margin-left: 160px;
	margin-top: 40px;
}

@media screen and (max-width: 1475px) { 

	#main_sliderbox_slider
	{
		margin-left: 30%;
		width: 100%;
		
	}
}

@media screen and (max-width: 1075px) { 

	#main_sliderbox_slider
	{
		margin-left: 10% !important;
		width: 100% !important;
		
	}
}

@media screen and (max-width: 1475px) {
    .container {
        grid-template-columns: 0 !important;
}
}