<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/styles/style_mainpage.css" />
    <link rel="stylesheet" type="text/css" href="../assets/styles/navigation.css" />
    <!-- Import czcionki-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap" rel="stylesheet">
    <title>Sklep</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="search__container">
                <input type="text" class="search__input" placeholder=" Search" id="search_input" />
            </div>
            <div id="header_login">
                {{#user}}
                <p>{{user.name}} | <a href="/user/update.php">Moje konto</a> | <a href="/user/logout.php">Wyloguj</a> <a href="#"><img
                            src="../assets/images/cart_icon.png" width="33px" height="33px"
                            style="vertical-align:middle" /></a></p>
                {{/user}}
                {{^user}}
                <p><a href="/user/login.php">Zaloguj się</a> | <a href="/user/register.php">Zarejestruj</a> | <a href="#"><img
                            src="../assets/images/cart_icon.png" width="33px" height="33px"
                            style="vertical-align:middle" /></a></p>
                {{/user}}
            </div>
        </div>
        <div class="navigator">

            <!--LOGO-->
            <div id="header_logo">
                <img src="../assets/images/game-boy_white.png" width="70%" class="center" />
            </div>

            <!--NAV BAR-->
            <div id="nav_bar">
                <ul>
                    <li style="font-weight: 400"><a class="four" href="/index.php"><img src="../assets/images/glowna.png" width="12%"
                                height="auto" style="vertical-align:middle" />&nbsp;&nbsp;&nbsp;home</a></li>
                    <li><a class="four" href="/product/search.php"><img src="../assets/images/search.png" width="12%" height="auto"
                                style="vertical-align:middle" />&nbsp;&nbsp;&nbsp;przeglądaj&nbsp;</a></li>
                    <li><a class="four" href="/product/search.php"><img src="../assets/images/kategorie.png" width="12%" height="auto"
                                style="vertical-align:middle" />&nbsp;&nbsp;&nbsp;kategorie&nbsp;</a></li>
                    <li><a class="prom" href="/product/search.php"><img src="../assets/images/nowosci.png" width="12%" height="auto"
                                style="vertical-align:middle" />&nbsp;&nbsp;&nbsp;promocje</a></li>
                    <li><a class="four" href="/product/search.php"><img src="../assets/images/promocje.png" width="12%" height="auto"
                                style="vertical-align:middle" />&nbsp;&nbsp;&nbsp;nowości</a></li>
                    <li><a class="four" href="#"><img src="../assets/images/onas.png" width="12%" height="auto"
                                style="vertical-align:middle" />&nbsp;&nbsp;&nbsp;o nas</a></li>
                </ul>
            </div>

        </div>
        <div class="main">
            <div id="main_sliderbox_slider">
                <div id="main_sliderbox_slider_game">
                    <div id="main_sliderbox_slider_game_box">
                        <h1>Elden Ring (2022)</h1>
                        <p>Elden Ring to gra RPG akcji autorstwa japońskiego studia FromSoftware.</p>
                        <div id="button_eldenring" style="display:inline">
                            <button data-text="Awesome" class="button">
                                <a href="shop_product.html?product_id=7" class="actual-text"><span class="actual-text">&nbsp;Sprawdź&nbsp;</span></a>
                                <a href="shop_product.html?product_id=7" class="hover-text"><span class="hover-text" aria-hidden="true">&nbsp;Sprawdź&nbsp;</span></a>
                            </button>
                        </div>
                        <div id="button_dune" style="display:none">
                            <button data-text="Awesome" class="button">
                                <a href="shop_product.html?product_id=8" class="actual-text"><span class="actual-text">&nbsp;Sprawdź&nbsp;</span></a>
                                <a href="shop_product.html?product_id=8" class="hover-text"><span class="hover-text" aria-hidden="true">&nbsp;Sprawdź&nbsp;</span></a>
                            </button>
                        </div>
                        <div id="button_cyberpunk2077" style="display:none">
                            <button data-text="Awesome" class="button">
                                <a href="shop_product.html?product_id=9" class="actual-text"><span class="actual-text">&nbsp;Sprawdź&nbsp;</span></a>
                                <a href="shop_product.html?product_id=9" class="hover-text"><span class="hover-text" aria-hidden="true">&nbsp;Sprawdź&nbsp;</span></a>
                            </button>
                        </div>
                        <div id="button_witcher" style="display:none">
                            <button data-text="Awesome" class="button">
                                <a href="shop_product.html?product_id=10" class="actual-text"><span class="actual-text">&nbsp;Sprawdź&nbsp;</span></a>
                                <a href="shop_product.html?product_id=10" class="hover-text"><span class="hover-text" aria-hidden="true">&nbsp;Sprawdź&nbsp;</span></a>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="main_sliderbox_slider_else">
                    <div class="main_sliderbox_slider_else_box" id="main_sliderbox_slider_else_box1">
                        <img src="../assets/images/EldenRingPC.jpg" width="100px" height="130px" style="float:left;" />
                        <div class="main_sliderbox_slider_else_box_text">
                            <h2>Elden Ring</h2>
                            <h3>2022</h3>
                            <hr style="color: #FDFBC3;width:180px;background-color:#FDFBC3;height: 2px; border: 0; margin-top: -10px; margin-left: 3px;">
                        </div>
                    </div>
                    <div class="main_sliderbox_slider_else_box" id="main_sliderbox_slider_else_box2">
                        <img src="../assets/images/dune_spice_wars_cover.jpg" width="100px" height="130px"
                            style="float:left;" />
                        <div class="main_sliderbox_slider_else_box_text">
                            <h2>Dune Spice Wars</h2>
                            <h3>2022</h3>
                            <hr style="color: #CD926A;width:180px;background-color:#CD926A;height: 2px; border: 0;margin-top: -10px; margin-left: 3px;">
                        </div>
                    </div>
                    <div class="main_sliderbox_slider_else_box" id="main_sliderbox_slider_else_box3">
                        <img src="../assets/images/cyberpunk_2077_cover.jpg" width="100px" height="130px"
                            style="float:left;" />
                        <div class="main_sliderbox_slider_else_box_text">
                            <h2>Cyberpunk 2077</h2>
                            <h3>2020</h3>
                            <hr style="color: #FFFE02;width:180px;background-color:#FFFE02;height: 2px; border: 0;margin-top: -10px; margin-left: 3px;">
                        </div>
                    </div>
                    <div class="main_sliderbox_slider_else_box" id="main_sliderbox_slider_else_box4">
                        <img src="../assets/images/the_witcher_3_cover.jpg" width="100px" height="130px" style="float:left;" />
                        <div class="main_sliderbox_slider_else_box_text">
                            <h2>The Witcher 3</h2>
                            <h3>2015</h3>
                            <hr style="color: #CF2F3B;width:180px;background-color:#CF2F3B;height: 2px; border: 0;margin-top: -10px; margin-left: 3px;">
                        </div>
                    </div>
                </div>
            </div>
            <div id="main_offers">
                <h1>Popularne produkty</h1>
                <p>Zyskujące na popularności nowe gry i oprogramowanie.</p>
                <div id="main_offers_arrows">
                <button id="prevBtn" style="float: left; position: relative; z-index: 0;">
                    <img src="../assets/images/to_left.png" width="35%" height=auto  style="vertical-align:middle"/>
                </button>
                <div id="main_offers_container">
                    <div id="main_offers_container_slider">
                        <div class="main_offers_container_box" id="lastClone">
                            <a href="shop_product.html?product_id=1" class="watchdogs_link">
                                <img src="../assets/images/cover6.jpg" width="178px" height="250px" style="border-radius:30px;"/>
                                <h3>Watch Dogs</h3>
                                <p>Cena: 100zł</p>
                            </a>
                        </div>  
                        <div class="main_offers_container_box">
                            <a href="shop_product.html?product_id=2"  class="meatboy_link">
                                <img src="../assets/images/cover1.jpeg" width="178px"  height="250px" style="border-radius:30px;"/>
                                <h3>Super Meat Boy</h3>
                                <p>Cena: 40zł</p>
                            </a>
                        </div>
                        <div class="main_offers_container_box">
                            <a href="shop_product.html?product_id=3"  class="cuphead_link">
                                <img src="../assets/images/cover2.jpg" width="178px"  height="250px" style="border-radius:30px;"/>
                                <h3>Cuphead</h3>
                                <p>Cena: 75zł</p>
                            </a>
                        </div>
                        <div class="main_offers_container_box">
                            <a href="shop_product.html?product_id=4"  class="rayman_link">
                                <img src="../assets/images/cover3.jpg" width="178px"  height="250px" style="border-radius:30px;"/>
                                <h3>Rayman Legends</h3>
                                <p>Cena: 50zł</p>
                            </a>
                        </div>
                        <div class="main_offers_container_box">
                            <a href="shop_product.html?product_id=5"  class="fallguys_link">
                                <img src="../assets/images/cover4.jpg" width="178px"  height="250px" style="border-radius:30px;"/>
                                <h3>Fall Guys</h3>
                                <p>Cena: 30zł</p>
                            </a>
                        </div>
                        <div class="main_offers_container_box">
                            <a href="shop_product.html?product_id=6"  class="gearsofwar_link">
                                <img src="../assets/images/cover5.jpg" width="178px"  height="250px" style="border-radius:30px;"/>
                                <h3>Gears of War 4</h3>
                                <p>Cena: 120zł</p>
                            </a>
                        </div>
                        <div class="main_offers_container_box">
                            <a href="shop_product.html?product_id=1"  class="watchdogs_link">
                                <img src="../assets/images/cover6.jpg" width="178px"  height="250px" style="border-radius:30px;"/>
                                <h3>Watch Dogs</h3>
                                <p>Cena: 100zł</p>
                            </a>
                        </div>
                        <div class="main_offers_container_box"  id="firstClone">
                            <a href="shop_product.html?product_id=2"  class="meatboy_link">
                                <img src="../assets/images/cover1.jpeg" width="178px"  height="250px" style="border-radius:30px;"/>
                                <h3>Super Meat Boy</h3>
                                <p>Cena: 40zł</p>
                            </a>
                        </div>
                        <div class="main_offers_container_box">
                            <a href="shop_product.html?product_id=3"  class="cuphead_link">
                                <img src="../assets/images/cover2.jpg" width="178px"  height="250px" style="border-radius:30px;"/>
                                <h3>Cuphead</h3>
                                <p>Cena: 75zł</p>
                            </a>
                        </div>
                        <div class="main_offers_container_box">
                            <a href="shop_product.html?product_id=4" class="rayman_link">
                                <img src="../assets/images/cover3.jpg" width="178px"  height="250px" style="border-radius:30px;"/>
                                <h3>Rayman Legends</h3>
                                <p>Cena: 50zł</p>
                            </a>
                        </div>
                        <div class="main_offers_container_box">
                            <a href="shop_product.htmlproduct_id=5" class="fallguys_link">
                                <img src="images/cover4.jpg" width="178px"  height="250px" style="border-radius:30px;"/>
                                <h3>Fall Guys</h3>
                                <p>Cena: 30zł</p>
                            </a>
                        </div>
                    </div>
                </div>
                <button id="nextBtn" style="float: left; z-index: 0;">
                    <img src="../assets/images/to_right.png" width="35%" height=auto style="vertical-align:middle" />
                </button>
                <div style="clear: both;"></div>
            </div>
            <div id="relative">
            <div id="main_offers_container2">
                <h1>Kategorie</h1>
                <p>Szeroki wybór kategorii.</p>
                <div class="main_offers_container_box2">
                    <img src="../assets/images/zrecznosciowe.png" width="100%" height="400px" />
                </div>
                <div class="main_offers_container_box2">
                    <img src="../assets/images/fabularne.png" width="100%" height="400px" />
                </div>
                <div class="main_offers_container_box2">
                    <img src="../assets/images/zrecznosciowe.png" width="100%" height="400px" />
                </div>
                <div class="main_offers_container_box2">
                    <img src="../assets/images/fabularne.png" width="100%" height="400px" />
                </div>
            </div>
        </div>
            <div id="coWyroznia">
                <div id="main_about_header">
                    <h1>Co nas wyróżnia</h1>
                </div>
                <div id="main_about_container">
                    <div class="main_about_container_box">
                        <img src="../assets/images/transaction.png" width="150px" height="150px" />
                        <p>Bezpieczenstwo transakcji</p>
                    </div>
                    <div class="main_about_container_box">
                        <img src="../assets/images/support.png" width="150px" height="150px" />
                        <p>Aktywny Support</p>
                    </div>
                    <div class="main_about_container_box">
                        <img src="../assets/images/price.png" width="150px" height="150px" />
                        <p>Najniższe ceny</p>
                    </div>
                    <div class="main_about_container_box">
                        <img src="../assets/images/mail.png" width="150px" height="150px" />
                        <p>Natychmiastowa wysyłka</p>
                    </div>
                </div>
            </div>
        </div>
        <script src="../assets/scripts/script.js"></script>
</body>

</html>