<html>
    <head>
        <title>Produckt | Sklep</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <main>
            <p>{{product.title}}</p>
            <p>{{product.subtitle}}</p>
            <p>{{product.price}}</p>
            <p>{{product.publisher}}</p>
        </main>
    </body>
</html>
