.navigator {
    width: 20%;
    height: 100vh;
    position: fixed;
    grid-area: navigator;
    border-right: 1px solid #fff;
    z-index: 5;
}

.main {
    float: left;
    height: auto;
    /* tylko i wyłącznie do pokazania jak działa skrolowanie  */
    grid-area: main;
}

body {
    color: #ffffff;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    background-color: #1F2326;
}

/* NAV BAR _____________________________________________________________________________________*/
#nav_bar {
    top: 0;
    height: 2000px;
    text-transform: uppercase;
    float: left;
}

#nav_bar>ul {
    list-style-type: none;
    margin: 0;
    padding: 30px;
}

#nav_bar>ul>li {
    padding: 30px;
    font-size: 18px;
}

a.four {
    font-size: x-large;
    text-decoration: none;
    color: white;
}

a.prom {
    font-size: x-large;
    text-decoration: none;
    color: #EA5D5D
}

/* END NAV BAR _____________________________________________________________________________________*/
/* LOGO */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 2%;
}

/* LOGIN PANEL _____________________________________________________________________________________*/

#header_login {
    color: white;
    padding-right: 80px;
    padding-top: 10px;
    float: right;
    margin-right: 5%;
    text-align: right;
    margin: auto 0px;
    font-size: 17px;
}

#header_login>p>a {
    height: 30px;
    text-decoration: none;
    color: white;
}

/* END LOGIN _____________________________________________________________________________________*/

.header {
    grid-area: header;
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #1F2326;
    z-index: 4;
}

/* RESPONSYWNOSC */
@media screen and (min-width: 1476px) {
    .search__container {
        margin-left: 20%;
        width: 45% !important;
    }
}

@media screen and (max-width: 690px) {
    .search__container {
        position: unset;
        display: none;
    }
}

@media screen and (max-width: 1475px) {
    .container {
        display: grid;
        grid-template-rows: 8vh auto;
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "main";
    }

    .container2 {
        display: grid;
        grid-template-rows: 8vh auto;
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "main";
    }

    .main {
        display: grid;
    }

    .navigator {
        position: unset;
        display: none;
        grid-area: main;
        border: none;
        width: 100%;
        height: 92vh;
    }

    .search__container {
        float: left;
    }

    .navigator-toggle {
        display: block;
    }
}

@media screen and (max-width: 1632px) {
    #nav_bar img {
        width: 10%;
    }

    a.four {
        font-size: 23px !important;
    }

    a.prom {
        font-size: 23px !important;
    }
}

@media screen and (max-width: 1566px) {
    #nav_bar img {
        width: 9%;
    }

    a.four {
        font-size: 21px !important;
    }

    a.prom {
        font-size: 21px !important;
    }
}

/* END */

.container {
    display: grid;
    grid-template-rows: 8vh auto;
    grid-template-columns: 20% auto;
    grid-template-areas:
        "navigator header"
        "navigator main";
}

@media screen and (min-width: 1475px) {
    .container2 {
        display: grid;
        grid-template-rows: 8vh auto;
        grid-template-columns: 20% auto;
        grid-template-areas:
            "navigator header"
            "navigator main";
    }
}

/* SEARCH  BAR _____________________________________________________________________________________*/
.search__container {
    width: 35%;
    padding: 14px 40px 0px 75px;
    float: left;
}

.search__title {
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #ff8b88;
}

.search__input {
    width: 100%;
    padding: 8px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 18px;
    line-height: 18px;

    color: white;
    background-color: transparent;

    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #F5F5F5;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: #F5F5F5;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.search__input:hover,
.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #F5F5F5;
    border-radius: 0;
    background-position: 100% center;
}

/*END SEARCH BAR _____________________________________________________________________________________*/